[submodule ".vim/bundle/closetag"]
	path = .vim/bundle/closetag
	url = git://github.com/vim-scripts/closetag.vim.git
[submodule ".vim/bundle/coffee-script"]
	path = .vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/nerd-commenter"]
	path = .vim/bundle/nerd-commenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/nerd-tree"]
	path = .vim/bundle/nerd-tree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/solarized-colors"]
	path = .vim/bundle/solarized-colors
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/fugative"]
	path = .vim/bundle/fugative
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/jade"]
	path = .vim/bundle/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/less"]
	path = .vim/bundle/less
	url = git://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/matlab-snippets"]
	path = .vim/bundle/matlab-snippets
	url = git://github.com/arokux/matlab-snippets.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/SyntaxComplete"]
	path = .vim/bundle/SyntaxComplete
	url = https://github.com/vim-scripts/SyntaxComplete.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
