# Global snippets

# (c) holds no legal value ;)
snippet file
	/********************************************************************\
	Project: ${1:projectname}
	File: ${2:`eval('bufname("%")')`}
	Description: ${3:file Description}
	Author: ${4:Turner Bohlen (www.turnerbohlen.com)}
	Created: ${5:`system("date +%m/%d/%Y")`}
	Copyright `system("date +%Y")` ${6:Turner Bohlen}
	\********************************************************************/
snippet section
	////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////// ${1:Section} ////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////
