/*
 * Method: $2
 * ${4:Description...}
 *
 * Parameters:
 * ${5:Param - desc...}
 *
 * Member Of: $1
 */
${1:class_name}.prototype.${2:method_name} = function(${3:first_argument}) {
	${6:// body}
};
