background: -moz-linear-gradient(${1:top}, ${2:black 0%, white 100%}); /* FF 3.6+ */
background: -ms-linear-gradient($1, $2); /* IE10 */
background: -webkit-gradient(${3:linear, left top, left bottom}, ${4:color-stop(0%, #000000), color-stop(100%, #ffffff)}); /* Safari 4+, Chrome 2+ */
background: -webkit-linear-gradient($1, $2); /* Safari 5.1+, Chrome 10+ */
background: -o-linear-gradient($1, $2); /* Opera 11.10 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='${5:#000000}', endColorstr='${6:#ffffff}'); /* IE6 & IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$5', endColorstr='$6')"; /* IE8+ */
background: linear-gradient($1, $2); /* the standard */
